@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap");
@font-face {
  font-family: "Histoica1";
  src: url("../text&font/Historycal\ Inline\ Personal\ Use.otf")
    format("opentype");
}
@font-face {
  font-family: "Histoica2";
  src: url("../text&font/THE\ HISTORICAL\ MARLIANA.otf") format("opentype");
}

:root {
  --cor00: white;
  --cor01: #ffd994;
  --cor02: #f2a03d;
  --cor03: #a67e33;
  --cor04: #8b9f5d;
  --cor05: #732c02;

  --sombratexto: 2px 2px 0px rgba(0, 0, 0, 0.15);
  --sombracaixa-F: 0px 0px 10px rgba(0, 0, 0, 0.344);
  --sombracaixa-f: 3px 3px 8px rgba(0, 0, 0, 0.167);

  --fonte-destaque: "M PLUS Code Latin", monospace;
  --fonte-histoica-1: "Histoica1";
  --fonte-histoica-2: "Histoica2";
  --fonte-padrao: "Times New Roman", monospace;
}

* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: var(--cor02);
  font-family: var(--fonte-destaque);
  font-size: 0.9em;
  font-style: oblique;
  font-weight: bold;
  text-align: right;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: var(--cor00);
}

nav a::after {
  content: "\00A0>";
}

#nav-bar {
  margin: auto;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

header {
  background-color: var(--cor02);
  text-align: center;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-family: var(--fonte-histoica-1);
  font-size: 3.3em;
  font-weight: bolder;
  padding: 0px 10px 0px 10px;
}

header p {
  font-family: var(--fonte-destaque);
  font-size: 1.1em;
  padding: 20px 10px 30px 10px;
}

body {
  background-color: var(--cor01);
  font-family: var(--fonte-padrao);
}

main {
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  min-width: 270px;
}

main img {
  max-width: 550px;
  min-width: 200px;
  margin: auto;
  display: block;
 
}

main article h2 {
  color: var(--cor05);
  font-family: var(--fonte-histoica-2);
  font-size: 1.4em;
  font-weight: 600;
  margin: 10px;
  margin-bottom: 0%;
  padding: 5px;
  padding-bottom: 0%;
}

main article p {
  font-size: 1.1em;
  text-align: justify;
  text-indent: 2em;
  padding: 5px 0px 5px 0px;
  margin: 10px;
  line-height: 1.5em;
}

main p strong {
  color: var(--cor03);
}

main p a {
  background-color: var(--cor01);
  color: #732c02;
  text-decoration: none;
  padding: 1px 5px;
}

main p a:hover {
  color: black;
}

main p a::after {
  content: "\00A0\1F517";
}

aside{
  background-color: var(--cor04);
  color: var(--cor05);
  font-family: var(--fonte-destaque);
  font-size: 0.90em;
  margin: 50px 20px 40px 20px;
  padding: 20px;
  padding-bottom: 0%;
  border-radius: 10px;
  box-shadow: var(--sombracaixa-f);
}

main aside h2{
  background-color:var(--cor05);
  color:var(--cor01);
  font-family: var(--fonte-histoica-2);
  font-weight: 600;
  font-size: 1.50em;
  padding: 0%;
  padding: 7px 10px 4px 10px;
  margin: -20px;
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px;
}

main aside h3{
  font-family: var(--fonte-histoica-1);
  font-size: 2.60em;
  font-weight: 550;
  padding-top: 0%;
  margin-top: 0%;
}

main aside p{
  color: black;
  line-height: 1.4em;
  margin: 5px;
  margin-bottom: 0%;
}

main aside strong{
  color: var(--cor05);
}

aside .paragrafo{
 padding: 0%;
 margin-top: -5px;
 margin-bottom: 5px;
}

div.video {
  position: relative;
  background-color: var(--cor05);
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 57.2%;
  border-radius: 0px 0px 10px 10px;
}

div.video > iframe {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
}

footer{
  background-color: var(--cor05);
  color: var(--cor01);
  font-size: 0.80;
  text-align: center;
  padding: 4px;
}

footer a{
  color: var(--cor01);
  font-weight: bold;
  text-decoration: none;
}

  footer a:hover{
    color: var(--cor00);
  }
